/* FOOTER TOP */
.footer_top{
    background-color: blue;
    padding: 20px 200px;
}
.footer_top_link_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_top_link_card img{
    display: inline-block;
    width: 50px;
}
.footer_top_link_card h6{
    display: inline-block;
    margin-left: 10px;
}

/* FOOTER MAIN */
/* Footer main link */
.footer_main{
    background-image: url("../img/footer-bg.jpg");
    color: white;
}
.footer_main ul{
    padding: 0;
}
.footer_main li{
    list-style: none;
}
.footer_main_link a{
    text-decoration: none;
    color: gainsboro;
}
.footer_main_link{
    display: flex;
}
/* Footer rights */
.footer_main_rights a{
    text-decoration: none;
}