.footer_top{
    background-color: blue;
    padding: 20px 200px;
}
.footer_top_link_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_top_link_card img{
    display: inline-block;
    width: 50px;
}
.footer_top_link_card h6{
    display: inline-block;
    margin-left: 10px;
}
