.header_container{
    background-image: url("../img/jumbotron.jpg");
}
/* HEADER BAT TOP */
.header_bar_top{
    background-color: blue;
    text-align: right;
    padding-right: 200px;
}
.header_bar_top a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-size: 12px;
}

/* HEADER BAR NAV */
.header_logo{
    width: 70px;
}
.header_bar_nav{
    background-color: white;
    padding: 10px 0px;
}
.header_bar_nav .col-1 a{
    text-decoration: none;
    font-size: 12px;
}
.header_bar_nav .col-1{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}
.nav_bar{
    /* height: 100%; */
}
.search{
    border: none;
    /* background-color: transparent; */
}
.search_input{
    width: 100px;
    background-color: lightblue;
    display: inline-block;
    text-align: end;
} 

