.header_container{
    background-image: url("../img/jumbotron.jpg");
    padding-bottom: 250px;
}
/* HEADER BAT TOP */
.header_bar_top{
    background-color: var(--blue);
    text-align: right;
    padding-right: 200px;
}
.header_bar_top a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-size: 12px;
}

/* HEADER BAR NAV */
.header_logo{
    width: 70px;
}
.header_bar_nav{
    background-color: white;
    padding: 10px 0px;
}
.header_bar_nav .col-1 a{
    text-decoration: none;
    font-size: 12px;
    color: gray;
}
.header_bar_nav .col-1{
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}
/* SEARCH BAR */
.search_bar{
    border-bottom: 2px solid var(--blue);
    text-align: end;
    width: 70%;
}
.search{
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: gray;
}
.search_input{
    width: 70%;
    text-align: end;
} 

