.my_bg_color{
    background-color: black;
}
.comics_page_container{
    padding-top: 50px;
    position: relative;
    background-color: black;
}
.homepage_target{
    display: inline-block;
    background-color: var(--blue);
    padding: 10px 20px;
    color: white;
    position: absolute;
    top: -30px;
    left: -30px;
}
/* COMICS CONTAINER */
/* CARD */
.comics_box{
    color: white;
}
.comics_img_box{
    width: 100px;
}
.comics_img_box img{
    display: block;
    width: 150px;
    height: 150px;
}
.load_button_box{
    margin: auto;
    text-align: center;
    padding: 20px 0px;
}
.button{
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 5px 40px;
}
.info_button{
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: transparent;
}
.info_button a{
    text-decoration: none;
    color: var(--blue);
    font-size: 12px;
}